.footer {
	padding: 124px 0;
	background-color: #fff;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&-subscribe {
		display: flex;
		flex-direction: column;
		max-width: 367px;
		&-text {
			font-family: $fontFamily;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			color: #000000;
			margin-bottom: 35px;
		}
		&-form {
			display: flex;
			align-items: center;
			border-bottom: 1px solid black;
			&-email {
				padding-bottom: 12px;
				width: 100%;
				cursor: text;
				color: gray;
			}
			&-btn {
				background: url(../img/arrow-right.svg) center no-repeat !important;
				width: 105px;
				height: 25px;
				margin-bottom: 7px;

			}
		}
	}
	&-menus {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		&-bottom {
			display: flex;
			align-items: flex-end;
		}
	}
	&-socials {
		display: flex;
		margin-right: 68px;
		a {
			position: relative;
			border: 2px solid black;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			margin-right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			transition: 0.3s;
			box-sizing: content-box;
			&:last-child {
				svg {
					padding: 8px 5px;
				}
			}
			svg {
				padding: 8px;
				opacity: 1;
				transition: 0.3s;
				fill: black;
				&:last-child {
					position: absolute;
				}
			}
			&:hover {
				transition: 0.3s;
				background-color: #F15C42;
				border: 2px solid #F15C42;
				svg {
					fill: white;
				}
			}
		}
	}
	&-menu {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: auto;
		li {
			list-style-type: none;
			margin: 0 14px;
			&:last-child {
				margin-right: 0;
				a {
					min-width: 142px;
					padding-right: 0;
					text-align: right;
				}
			}
			a {
				display: block;
				padding: 0 5px;
				font-size: 12px;
				line-height: 16px;
				color: #2F3234;
				text-decoration: none;
				font-family: $fontFamily;
				font-weight: 300;
				text-align: center;
				min-width: 84px;
				transition: 0.3s;
				&:hover, &.selected {
					font-weight: bold;
					color: #2F3234;
					transition: 0.3s;
				}

			}
		}
	}
	&-copyright {
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: #333333;
		strong {
			font-weight: bold;
		}
	}
}
