.footer {
	padding: 124px 0;
	background-color: #fff;
	flex: 0 0 auto;
	@media screen and (max-width: 1024px) {
		padding: 50px 0;
	}
	@media screen and (max-width: 600px) {
		padding: 30px 0;
	}
	.container {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			flex-direction: column-reverse;
			align-items: center;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
	}
	&-subscribe {
		display: flex;
		flex-direction: column;
		max-width: 367px;
		@media screen and (max-width: 1024px) {
			flex-direction: row;
			max-width: unset;
			align-items: center;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
			align-items: center;
			max-width: 260px;
			margin-bottom: 30px;
		}
		&-text {
			font-family: $fontFamily;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			color: #000000;
			margin-bottom: 35px;
			@media screen and (max-width: 1024px) {
				margin-right: 20px;
				margin-bottom: 0;
			}
			@media screen and (max-width: 600px) {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}
		&-form {
			display: flex;
			align-items: center;
			border-bottom: 1px solid black;
			&-email {
				font-family: $fontFamily;
				font-weight: 300;
				padding-bottom: 12px;
				width: 100%;
				cursor: text;
				color: gray;

			}
			&-btn {
				background: url(../img/arrow-right.svg) center right no-repeat !important;
				width: 86px;
				height: 25px;
				margin-bottom: 7px;

			}
		}
	}
	&-menus {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		@media screen and (max-width: 1024px) {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 768px) {
			align-items: center;
		}
		&-bottom {
			display: flex;
			align-items: flex-end;
			@media screen and (max-width: 600px) {
				flex-direction: column;
				align-items: center;
			}
		}
	}
	&-socials {
		display: flex;
		margin-right: 68px;
		@media screen and (max-width: 768px) {
			margin-right: 30px;
		}
		@media screen and (max-width: 600px) {
			margin-right: 0;
			margin-bottom: 30px;
		}
		a {
			position: relative;
			width: 27px;
			height: 27px;
			margin-right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s;
			box-sizing: content-box;
		
			svg {
					transition: 0.3s;
					path {
						transition: 0.3s;
						fill: black;
					}

				}
				&:hover {
					transition: 0.3s;
					svg {
						transition: 0.3s;
						fill: #F15C42;
						path {
							fill: white;
						}
						circle {
							transition: 0.3s;
							stroke: #F15C42;
						}
					}
				}
		}
	}
	&-menu {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: auto;
		@media screen and (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 768px) {
			justify-content: flex-start;
			margin-left: 0;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
			.link1, .link2, .link3, .link4 {
				display: none;
			}
		}
		li {
			list-style-type: none;
			margin: 0 14px;
			@media screen and (max-width: 768px) {
				margin: 0;
			}
			&:last-child {
				margin-right: 0;
				a {
					min-width: 142px;
					padding-right: 0;
					text-align: right;
					@media screen and (max-width: 600px) {
						text-align: center;
						padding: 10px;
					}
				}
			}
			a {
				display: block;
				padding: 0 5px;
				font-size: 12px;
				line-height: 16px;
				color: #2F3234;
				text-decoration: none;
				font-family: $fontFamily;
				font-weight: 300;
				text-align: center;
				min-width: 84px;
				transition: 0.3s;
				@media screen and (max-width: 768px) {
					text-align: left;
					padding: 10px;
				}
				@media screen and (max-width: 600px) {
					text-align: center;
				}
				&:hover, &.selected {
					font-weight: bold;
					color: #2F3234;
					transition: 0.3s;
				}

			}
		}
	}
	&-copyright {
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: #333333;
		strong {
			font-weight: bold;
		}
	}
}
