.header {
	padding: 12px 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	overflow: hidden;
	backdrop-filter: blur(5px);
	&:before{
		content: "";
		background: inherit;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		filter: blur(10px);
	}
	&.offset {
		background-color: rgba(255,255,255,0.5);
		border-bottom: 1px solid black;
	}
	&-sticky {
		position: sticky;
		top: 0;
		border-bottom: 1px solid black;
		background-color: rgba(255,255,255,0.5);
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		z-index: 1;
		max-width: 179px;
		@media screen and (max-width: 1024px){
			max-width: 120px;
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: auto;
		z-index: 1;
		@media screen and (max-width: 900px){
			display: none;
		}
		li {
			list-style-type: none;
			margin: 0 14px;
			@media screen and (max-width: 1024px){
				margin: 0 10px;
			}
			a {
				position: relative;
				display: block;
				padding: 5px;
				font-size: 14px;
				line-height: 19px;
				color: #2F3234;
				text-decoration: none;
				font-family: $fontFamily;
				font-weight: 300;
				text-align: center;
				min-width: 87px;
				transition: 0.3s;
				&:hover, &.selected {
					font-family: $fontFamily;
					font-weight: bold;
					color: #2F3234;
					transition: 0.3s;
				}

			}
		}
	}
	&__burger-menu {
		display: none;
        background-color: #ffffff;
        padding-bottom: 20px;
        &.is-active {
			right: 0;
			transition: 0.5s
		}
		@media screen and (max-width: 1024px) {
			position: fixed;
			width: 100%;
			height: 100%;
			right: -120%;
			top: 0;
			padding-top: 30%;
			display: flex;
			flex-direction: column;
			transition: 0.5s;
			z-index: 2;
		}
        li {
          a {
            padding: 10px;
            position: relative;
            display: block;
            font-size: 18px;
            line-height: 22px;
            color: #2F3234;
            text-decoration: none;
            font-family: $fontFamily;
            font-weight: 300;
            text-align: center;
            min-width: 90px;
            transition: 0.3s;
            &.selected {
              font-weight: bold;
              color: #2F3234;
              transition: 0.3s;
            }
            &:hover {
              font-weight: bold;
              color: #2F3234;
              transition: 0.3s;
            }
          }
        }
	}
	&__language {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: 70px;
		z-index: 1;
		position: relative;
		width: 19px;
		height: 19px;
		@media screen and (max-width: 1024px){
			margin-left: 30px;
		}
		li {
			list-style-type: none;
			position: absolute;
			top: 0;
			display: block;
			//padding: 5px;
			font-size: 14px;
			line-height: 19px;
			color: #2F3234;
			text-decoration: none;
			font-family: $fontFamily;
			min-width: 30px;
			transition: 0.3s;
			// cursor: pointer;
			&.hidden {
				display: none;
			}
			&:hover, &.selected {
				font-weight: bold;
				color: #2F3234;
				transition: 0.3s;
			}
		}
	}
}
