@import 'normalize/variables';
@import 'normalize/vertical-rhythm';
@import 'normalize/normalize-mixin';
@include normalize

@import 'globals';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $fontFamily;
	background-color: #E5E5E5;
}

ul, ol, h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	display: block;
	width: 170px;
	font-family: $fontFamily;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 48px;
	box-shadow: 0 18px 40px rgba(241, 92, 66, 0.25);
	border-radius: 2px;
	border: 2px solid #F05336;
}

.btn-orange {
	background: #F15C42;
	color: #ffffff;
	&:hover {
		color: #F15C42;
		background: #ffffff;
	}
}

.btn-white {
	color: #F15C42;
	background: #ffffff;
	&:hover {
		background: #F15C42;
		color: #ffffff;
	}
}

.header {
	background-color: #FFF;
	padding: 12px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: auto;
		li {
			list-style-type: none;
			margin: 0 14px;
			a {
				display: block;
				padding: 5px;
				font-size: 14px;
				line-height: 19px;
				color: #2F3234;
				text-decoration: none;
				font-family: $fontFamily;
				font-weight: normal;
				min-width: 84px;
				&:hover, &.selected {
					font-weight: bold;
					color: #2F3234
				}
			}
		}
	}
	&__language {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin-left: 70px;
		li {
			list-style-type: none;
			a {
				display: block;
				padding: 5px;
				font-size: 14px;
				line-height: 19px;
				color: #2F3234;
				text-decoration: none;
				font-family: $fontFamily;
				min-width: 30px;
				&:hover, &.selected {
					font-weight: bold;
					color: #2F3234
				}
			}
		}
	}
}

.homepage__intro-who-we-are--wrapper {
	background: url(../img/main-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.homepage__intro {
	padding-top: 68px;
	&-header {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 87px;
		text-transform: uppercase;
		margin-bottom: 27px;
	}
	&-text {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-bottom: 50px;
	}
	&-arrow {
		margin-top: 61px;
		margin-bottom: 42px;
        background: url(../img/arrow.svg) no-repeat;
        width: 9px;
        height: 63px;
        background-size: 100%;
	}
}

.homepage__who-we-are {
	margin-top: 42px;
	padding-bottom: 98px;
	&-heading {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 36px;
		line-height: 49px;
		color: #000000;
		margin-bottom: 30px;
	}
	img {
		float: right;
		padding: 0 0 30px 30px;
	}
	p {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #2F3234;
		margin-bottom: 30px;
	}
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}


.homepage__services {
	margin: 145px 0;
	.container {
		display: flex;
	}
	&-description {
		display: flex;
		flex-direction: column;
		min-width: 269px;
		margin-right: 20px;
		p {
			font-family: $fontFamily;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: #2F3234;
		}
	}
	&-heading {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 36px;
		line-height: 49px;
		color: #2F3234;
		margin-bottom: 32px;
	}
	&-list {
		display: flex;
		&-element {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			background: #FFFFFF;
			box-shadow: 0 18px 40px #E4E4E3;
			border-radius: 2px;
			margin: 0 10px;
			padding: 53px 43px 33px 43px;
			text-align: center;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			img {
				margin-bottom: 41px;
			}
			p {
				margin-bottom: 50px;
				font-family: $fontFamily;
				font-weight: normal;
				font-size: 12px;
				line-height: 16px;
				color: #2F3234;
			}
		}
	}
}
