.why-us {
    padding-top: 85px;
    &__top-content {
        h1 {
            font-family: $fontFamily;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
            margin-bottom: 28px;
            color: #000;
        }
        p {
            font-family: $fontFamily;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
            margin-bottom: 60px;
            font-weight: 300;
        }
    }
    &__main-content {
        display: flex;
        margin-bottom: 150px;
    }
    &__ceo-info {
        flex: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 115px;
        img {
            margin-bottom: 50px;
            width: 100%;
            box-shadow: 0px 18px 40px #E4E4E3;
        }
        strong {
            display: block;
            margin-top: auto;
            color: #2F3234;
            font-size: 18px;
            line-height: 25px;
        }
        p {
            //margin-bottom: 20px;
            color: #2F3234;
            font-size: 18px;
            line-height: 25px;
            font-weight: 300;
        }
    }
    &__advantages {
        flex: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-family: $fontFamily;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
            margin-bottom: 30px;
        }
        p {
            font-family: $fontFamily;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
            margin-bottom: 35px;
            font-weight: 300;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.our-team {
    flex: 23.25%;
    background: #F5F5F5;
    .container {
        display: flex;
    }
    &__info {
        //flex: 23.5%;
        margin-right: 193px;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-family: $fontFamily;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
            color: #2F3234;
            margin-bottom: 30px;
        }
        strong {
            display: block;
            margin-bottom: 30px;
        }
        p {
            font-family: $fontFamily;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
            margin-bottom: 30px;
            font-weight: 300;
        }
    }
    &__people {
        padding: 130px 0 120px 0;
        background-color: #fff;
        &-wrapper {
            display: block;
            width: 100%;
            position: relative;
        }
        .slick-track {
            padding-top: 20px;
            .slick-slide {
                visibility: hidden;
            }
            .slick-active {
                visibility: visible;
                &.overlay-enable {
                    .our-team__info-img {
                        .our-team__img-overlay {
                            background: #fff;
                            opacity: 0.75;
                            position: absolute;
                            top: 0;
                            transition: 0.3s;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                        }
                    }
                    &:hover {
                        .our-team__img-overlay {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    &__people-slider-arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 48px;
        left: 120px;
        .prev-arrow {
            margin-right: 20px;
        }
        .slick-arrow {
            cursor: pointer;
            svg {
                transition: 0.3s;
                path {
                    transition: 0.3s;
                    fill: #000000;
                }
                circle {
                    transition: 0.3s;
                    stroke: #000000;
                    fill: none;
                }
            }
            &:hover {
                transition: 0.3s;
                svg {
                    transition: 0.3s;
                    path {
                        fill: #F15C42;
                    }
                    circle {
                        transition: 0.3s;
                        stroke: #F15C42;
                    }
                }
            }
        }
    }
    &__people-info {
        display: flex !important;
        min-width: 269px;
        min-height: 470px !important;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        &-text {
            transition: 0.3s;
            opacity: 0;
            margin-bottom: 30px;
        }
        &:hover {
            .our-team__info-img {
                margin-top: -20px;
                transition: 0.3s;
                box-shadow: 0px 18px 40px #C4C4C4;
            }
            .our-team__img-overlay {
                opacity: 1;
            }
            .our-team__people-info-text {
                opacity: 1;
            }
        }
        span {
            margin-top: 25px;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
            font-weight: 300;
        }
        strong {
            display: block;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #2F3234;
        }
    }
    &__info-img {
        max-height: 370px;
        height: 370px;
        width: 269px;
        position: absolute;
        top: 0;
        transition: 0.3s;
        overflow: hidden;
        img {
            //transform: translate(-5%, 0);
            height: 100%;
            max-width: unset;
        }
    }
    &__people-social {
        margin-bottom: 36px;
        a {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            svg {
                circle {
                    transition: 0.3s;
                    stroke: white;
                }
                path {
                    transition: 0.3s;
                    fill: white;
                }
            }
            &:hover svg {
                circle {
                    transition: 0.3s;
                    stroke: black;
                }
                path {
                    transition: 0.3s;
                    fill: black;
                }
            }
        }
    }
}