.homepage__intro-who-we-are--wrapper {
	background: url(../img/main-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.homepage__intro {
	padding-top: 68px;
	position: relative;
	&-socials {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -250px;
		right: 0;
			&.animate {
				animation: top 1.5s forwards;
				animation-timing-function: ease-in-out;
				animation-delay: 1s;
			}
		.roupe {
			position: relative;
				&.animate {
					transform-origin: top center;
			  		animation: fall 1.5s forwards;
			  		animation-timing-function: ease-out;
					margin-bottom: 16px;
					&:nth-child(1) {
						animation-delay: 1.4s;
					}
					&:nth-child(2) {
						animation-delay: 1.2s;
					}
					&:nth-child(3) {
						animation-delay: 1s;
					}
					&:nth-child(4) {
						animation-delay: 0.8s;
					}
					&:nth-child(5) {
						animation-duration: 1.7s;
						animation-delay: 0s;
						animation-timing-function: ease-out;
					}
				}
			a {
				position: relative;
				border: 2px solid black;
				border-radius: 50%;
				width: 27px;
				height: 27px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				transition: 0.3s;
				box-sizing: content-box;
				svg {
					padding: 8px;
					transition: 0.3s;
					fill: black;
				}
				&:hover {
					transition: 0.3s;
					background-color: #F15C42;
					border: 2px solid #F15C42;
					svg {
						fill: white;
					}
				}
			}
			&:last-child {
				a {
					margin-bottom: 0;
					svg {
						padding: 8px 6px;
					}
				}
			}
		}

	}
	&-header {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 87px;
		text-transform: uppercase;
		margin-bottom: 27px;
		margin-right: 30px;
		min-height: 261px;
			.ti-cursor {
				top: -6px;
				&.is-hidden {
					display: none !important;
				}
			}
			.type-span {
				display: inline-block;
				background: #F15C42;
				mix-blend-mode: multiply;
				color: #FFFFFF;
				padding-left: 8px;
				&.is-hidden {
					display: none !important;
				}
			}

	}
	&-text {
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-bottom: 50px;
	}
	&-arrow {
		display: inline-block;
		margin-top: 61px;
		margin-bottom: 42px;
        background: url(../img/arrow.svg) no-repeat;
        width: 25px;
        height: 104px;
        background-size: contain;
        cursor: pointer;
	}
}
