.homepage__intro-who-we-are--wrapper {
	background: url(../img/main-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.homepage__intro {
	padding-top: 68px;
	position: relative;
	&-socials {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -250px;
		right: 0;
		animation: top 1.5s forwards;
		animation-timing-function: ease-in-out;
		animation-delay: 1s;
		.roupe {
			position: relative;
			transform-origin: top center;
	  		animation: fall 1.5s forwards;
	  		animation-timing-function: ease-out;
			margin-bottom: 16px;
			animation-delay: 1s;
			&:nth-child(1) {
				animation-delay: 1.4s;
			}
			&:nth-child(2) {
				animation-delay: 1.2s;
			}
			&:nth-child(3) {
				animation-delay: 1s;
			}
			&:nth-child(4) {
				animation-delay: 0.8s;
			}
			&:nth-child(5) {
				animation-duration: 1.7s;
				animation-delay: 0s;
				animation-timing-function: ease-out;
			}
			a {
				position: relative;
				border: 1px solid black;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				transition: 0.3s;

				&:last-child {
					margin-bottom: 0;
					img {
						padding: 8px 5px;
				}
				}
				img {
					padding: 8px;
					opacity: 1;
					transition: 0.3s;
					&:last-child {
						position: absolute;
						opacity: 0;
					}
				}
				&:hover {
					transition: 0.3s;
					background-color: #F15C42;
					border: 1px solid #F15C42;
					img {
						&:first-child {
							opacity: 0;
							transition: 0.3s;
						}
						&:last-child {
							opacity: 1;
							transition: 0.3s;
						}
					}
				}
			}
		}

	}
	&-header {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 87px;
		text-transform: uppercase;
		margin-bottom: 27px;
		margin-right: 30px;
		min-height: 348px;
			.ti-cursor {
				top: -6px;
				&.is-hidden {
					display: none !important;
				}
			}
			.type-span {
				display: inline-block;
				background: #F15C42;
				color: #FFFFFF;
				padding-left: 8px;
				&.is-hidden {
					display: none !important;
				}
			}

	}
	&-text {
		font-family: $fontFamily;
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-bottom: 50px;
	}
	&-arrow {
		display: inline-block;
		margin-top: 61px;
		margin-bottom: 42px;
        background: url(../img/arrow.svg) no-repeat;
        width: 25px;
        height: 104px;
        background-size: contain;
        cursor: pointer;
	}
}
