.homepage__partners {
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
	background: #F5F5F5;
	&-heading {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 36px;
		line-height: 49px;
		color: #2F3234;
		margin-bottom: 10px;
		&-secondary {
			font-family: $fontFamily;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: #2F3234;
			margin-bottom: 50px;
		}
	}
	&-slider {
		cursor: pointer;
		img {
			width: auto !important;
			max-height: 75px;
			padding: 0 10px;
		}
	}
}