.vacancy {
  padding: 176px 0;
  @media screen and (max-width: 900px) {
    padding: 86px 0;
  }
  .container {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__content {
    margin-right: 25px;
    width: 55%;
    max-width: 55%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }
    p {
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      color: #2f3234;
      margin-bottom: 30px;
    }
    h2 {
      font-family: $fontFamily;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #2f3234;
      margin: 45px 0 30px 0;
    }
    li {
      font-family: $fontFamily;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      color: #2f3234;
      list-style-type: disc;
      margin-left: 20px;
    }
  }
  &__heading {
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 30px;
  }
  &__form {
    margin-right: -120px;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
      align-self: center;
    }
    &-content {
      max-width: 613px;
      //position: absolute;
      background-color: #f5f5f5;
      color: #060606;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 82px 150px 100px 96px;
      @media screen and (max-width: 748px) {
        padding: 50px 30px 50px 30px;
        margin-left: -15px;
        width: calc(100% + 30px);
      }
      @media screen and (max-width: 600px) {
        padding: 50px 15px 50px 15px;
      }
      .modal-content-center {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 991px) {
          flex-direction: column;
        }
      }
    }
    .group {
      position: relative;
      margin-bottom: 30px;
      input {
        background: none;
        color: #2f3234;
        font-size: 18px;
        padding: 10px 10px 10px 0px;
        display: block;
        width: 100%;
        min-width: 367px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid black;
        box-shadow: none;
        @media screen and (max-width: 1024px) {
          min-width: 260px;
        }
        &:focus {
          outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
          bottom: 35px;
          font-size: 12px;
          color: #060606;
        }
        &:focus ~ .bar:before {
          width: 100%;
        }
        &:-webkit-autofill {
          box-shadow: 0 0 0px 1000px white inset;
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          -webkit-text-fill-color: #060606 !important;
        }
      }
      label {
        color: #2f3234;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        opacity: 0.5;
        position: absolute;
        pointer-events: none;
        left: 0;
        bottom: 20px;
        transition: 300ms ease all;
        text-transform: capitalize;
      }
    }
    .bar {
      position: relative;
      display: block;
      width: 100%;
      &:before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #060606;
        transition: 300ms ease all;
        left: 0%;
      }
    }
    .btn {
      cursor: none;
      margin-bottom: 30px;
      @media screen and (max-width: 1400px) {
        cursor: pointer;
      }
    }
    &-file-connect {
      position: relative;
      min-height: 48px;
      margin-bottom: 30px;
      &-icon {
        position: absolute;
        svg {
          transition: 0.3s;
          path {
            transition: 0.3s;
            fill: #000;
          }
          circle {
            transition: 0.3s;
            stroke: #000;
          }
        }
      }
      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      label {
        position: absolute;
        padding-left: 100px;
        font-family: $fontFamily;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #2f3234;
        z-index: 3;
        word-break: break-all;
      }
      label:hover + div svg {
        transition: 0.3s;
        path {
          fill: #f15c42;
        }
        circle {
          transition: 0.3s;
          stroke: #f15c42;
        }
      }
    }
    &-agreement {
      font-family: $fontFamily;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #ff4f1a;
      margin-bottom: 30px;
    }
    &-allowed-files {
      font-family: $fontFamily;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #2f3234;
    }
    &-thankyou {
      color: #a8df94;
      font-size: 16px;
      margin-top: 20px;
      position: absolute;
    }
  }
}

.form-success-msg {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  .form-contact-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #060606;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 80px 30px 0 30px;
    img {
      margin: 15px 0 13px;
    }
    b {
      font-size: 20px;
    }
  }
  .close-btn {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0;
    background: white;
    width: 100%;
    display: flex;
    padding: 15px 20px;
    justify-content: flex-end;
    height: auto;
    .close-btn-img {
      cursor: pointer;
      width: 34px;
      margin-top: 20px;
      margin-right: 100px;
    }
  }
}
