.services {
  padding-top: 176px;
  @media screen and (max-width: 900px){
    padding-top: 86px;
  }
  &__content {
    font-family: $fontFamily;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #2f3234;
    &-intro {
        margin-bottom: 70px;
    }
    p, ul {
      margin-bottom: 30px;
      li {
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #2F3234;
        list-style-type: disc;
        margin-left: 20px;
      }
    }
  }
  &__heading {
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 30px;
  }
  &__text-line {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 105px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      margin-bottom: 50px;
    }
    &:last-child {
        margin-bottom: 50px;
    }
    &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        margin-bottom: 30px;
        @media screen and (max-width: 900px){
          margin-right: 0;
        }
    }
    &-img {
      width: 133px;
      height: 133px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f5f5f5;
      box-shadow: 0px 18px 40px #e4e4e3;
      border-radius: 2px;
      margin-bottom: 35px;
    }
    &-heading {
      font-family: $fontFamily;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #2f3234;
    }
  }
}
