.terms-and-conditions {
	padding: 86px 0;
	&-main {
		background: url(../img/terms-bg.jpg) no-repeat;
		background-size: cover;
	}
	&__content {
		p {
			font-family: $fontFamily;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
			color: #2F3234;
			margin-bottom: 30px;
		}
	}
	
	&__heading {
		font-family: $fontFamily;
		font-weight: normal;
		font-size: 36px;
		line-height: 49px;
		color: #000000;
		margin-bottom: 30px;
	}
}